*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

/* Header Starts */

header .main{
    background-color: #00000033;
}