*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto;
}

.main{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

/* Header starts */
header{
    height: 70px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header .main{
    /* max-width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-size: 35px;
    margin-left: 20px;
    color: white;
}

.nav-links{
    display: flex;
    margin-right: 50px;
    gap: 100px;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: #51d351;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 30px;
}

/* Headers End */

/* Hero Section 1 Starts */

.hero-section-1 .main{
    height: 550px;
    display: flex;
    justify-content: space-around;
    background:linear-gradient( rgba(0, 0, 0, 0.4)), url(./Assets/background-img.jpg);
    padding: 20px;
}

.hero-section-1{
    padding-top: 70px;
}

.hero-text{
    width: 50%;
    margin-top: 60px;
}

.hero-text h1{
    color: white;
    font-size: 50px;
}

.hero-text p{
    color: #878585;
    padding: 25px 0px;
    font-size: 17px;
    line-height: 25px;
}

.hero-img img{
    width: 380px;
    height: 500px;
    animation: bounceY 2s ease-in-out infinite;
}

@keyframes bounceY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px); 
  }
  100% {
    transform: translateY(0px); 
  }
}

.hero-btn-1{
    width: 180px;
    height: 55px;
    padding: 15px;
    border-radius: 8px;
    font-size: 15px;
}

.hero-btn-2{
    width: 160px;
    height: 55px;
    padding: 15px;
    border-radius: 8px;
    font-size: 15px;
 }

.hero-btn-1{
    border: 1px solid #51d351;
    background-color: transparent;
    color: #51d351;
}

.hero-btn-1:hover{
    background-color: #51d351;
    color: white;
}

.hero-btn-2{
    border: none;
    background-color: #51d351;
    color: white;
    margin-left: 5px;
}

.hero-btn-2:hover{
    box-shadow: #6fb26f  0px 4px 4px;
}

/* Hero section 1 End */


/* Hero Section 2 starts */
.hero-section-2 .main{
    height: 620px;
    text-align: center;
    padding: 70px 10px;
    margin-bottom: 70px;
}

.hero-section-2 h2{
    font-size: 40px;
}

.hero-section-2 p{
    color: #878585;
}

.hero-section-2-main{
    display: flex;
    height: 100%;
    background-color: white;
    padding: 0px 20px;
}

.hero-sec-2-text{
    margin-top: 80px;
    margin-left: 10px;
    text-align: left;
}

.hero-sec-2-text h5 {
  gap: 10px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-section-2-main p{
    font-size: 13px;
    word-spacing: 3px;
    line-height: 20px;
    margin-bottom: 10px;
}

.hero-sec-2-img img{
    margin-top: 10px;
    height: 500px;
    width: 650px;
    animation: bounceY 2s ease-in-out infinite;
}
/* Hero Section 2 Ends */

/* About Section Starts */

.about .main{
    height: 800px;
}

.about .main h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.about .main > p{
    text-align: center;
    color: #878585;
}

/* About section 1 starts */

.about-sec-1{
    display: flex;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: aqua;
}

.about-text-1 h3{
    font-size: 35px;
    color: #878585;
}

.about-text-1 p{
    color: #878585;
    line-height: 20px;
    font-size: 13px;
    word-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.about-sec-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(./Assets/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    z-index: 0;
}

.about-sec-2 h3{
    font-size: 35px;
    color: white;
    text-align:  center;
    margin-top: ;
}

.about-sec-2 p{
    font-size: 13px;
    color: #c2bdbd;
    text-align: center;
}