*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 70px;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    margin-right: 80px;
    gap: 120px;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
}