/* @media (max-width: 650px) {

  .main {
    max-width: 100%;  
    width: 100%;
    margin: 0;        
    padding: 20px;    
    box-sizing: border-box;
  }

    .hero-section-1 .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .hero-text{
    width: 100%;
  }

  .hero-img{
    text-align: center;
  }

  .hero-img img{
    width: 300px;
    height: 500px;
  }
} */


@media (min-width: 344px)  and (max-width: 649px){

   /* Responsive Header */
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    /* margin-right: 20px; */
  }

  /* Hero section 1 Starts*/
  .hero-section-1 .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1200px;
  }

  .hero-section-1{
    padding-top: 0px;
}

  .hero-text h1{
    font-size: 40px;
    width: 200%;
  }

  .hero-text p{
    font-size: 15px;
    width: 200%;
    text-align: justify;
  }

  .hero-btn-1{
    margin-bottom: 10px;
    width: 200%;
  }

  .hero-img img{
    width: 250px;
    height: 300px;
  }

  .hero-btn-2{
    width: 200%;
    text-align: center;
  }

  /* Hero Section 1 Ends */

  /* Hero Section 2 Starts */

  .hero-section-2 .main{
    /* height: 1050px; */
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 25px;
  }

  .hero-section-2-main{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
  }

  .hero-sec-2-img img{
    width: 320px;
    height: 290px;
    text-align: center;
    /* background-color: blueviolet; */
  }

  .hero-sec-2-text{
    margin-left: 10px;
    text-align: left;
}

/* Hero Section 2 Starts */

/* About Section 3 Starts */

.about-sec-1{
  display: flex;
  flex-direction: column;
}

.about-btn-1{
    margin-bottom: 10px;
    width: 100%;
  }

  .about-img img{
    width: 250px;
    height: 300px;
  }

  .about-btn-2{
    width: 100%;
    text-align: center;
  }

  .about-img-1 img{
    width: 300px;
    height: 280px;
    margin-top: 20px;
  }


  .about-sec-2 h3{
    font-size: 25px;
  }
}