/* @media (max-width: 650px) {

  .main {
    max-width: 100%;  
    width: 100%;
    margin: 0;        
    padding: 20px;    
    box-sizing: border-box;
  }

    .hero-section-1 .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .hero-text{
    width: 100%;
  }

  .hero-img{
    text-align: center;
  }

  .hero-img img{
    width: 300px;
    height: 500px;
  }
} */


@media (min-width: 344px)  and (max-width: 649px){

   /* Responsive Header */
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    /* margin-right: 20px; */
  }

  /* Hero section 1 Starts*/
  .hero-section-1 .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1200px;
  }

  .hero-section-1{
    padding-top: 20px;
}

  .hero-text h1{
    font-size: 60px;
    width: 400px;
  }

  .hero-text p{
    font-size: 15px;
    width: 550px;
    text-align: justify;
  }

  .hero-btn-1{
    margin-bottom: 10px;
    width: 100%;
  }

  .hero-btn-2{
    width: 100%;
    text-align: center;
  }

  /* Hero Section 1 Ends */

  /* Hero Section 2 Starts */

  .hero-section-2 .main{
    height: 900px;
    /* height: auto; */
    margin-bottom: 0px;
  }

  .hero-section-2-main{
    display: flex;
    flex-direction: column;
  }

  .hero-sec-2-img img{
    height: 400px;
    background-color: blueviolet;
  }

  .hero-sec-2-text{
    margin-top: 0px;
    margin-left: 10px;
    text-align: left;
}
}