.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  width: 300px;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 999;
}

.mobile-nav a {
    color: white;
  font-size: 24px;
  text-decoration: none;
}

.mobile-nav a:hover{
    color: #51d351;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

#menu-toggle:checked ~ .mobile-nav {
  display: flex;
}

/* Media Query for Mobile */
@media (max-width: 860px) {

  /* Responsive Header */
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }


  /* Responsive Hero Section 1 */
  .hero-img img{
    margin-top: 50px;
    width: 300px;
    height: 400px;
  }

  .hero-section-1 .main{
    height: auto;
    width: 100%;
  }

  .hero-btn-1, .hero-btn-2{
    margin-top: 10px;
    width: 100%;
  }

  .hero-btn-2{
    margin-bottom: 50px;
  }

  /* Responsive Hero Section 2 */

  .hero-section-2{
    /* display: flex;
    flex-direction: column; */
    height: auto;
  }

  .hero-sec-2-img img{
    width: 420px;
    text-align: center;
    height: 500px;
  }

  .about-img-1 img{
    text-align: center;
    height: 420px;
    width: 400px;
  }

  .about-sec-4-img img{
    width: 350px;
    height: 320px;
    mar
  }
}