@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    position: relative;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 30px;
  }

  .menu-icon .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
  }

  .menu-icon:hover .dropdown {
    display: flex;
  }

  .menu-icon .dropdown a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .menu-icon .dropdown a:hover {
    color: #51d351;
  }
}
