.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  width: 300px;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 999;
}

.mobile-nav a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.mobile-nav a:hover{
    color: #51d351;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

#menu-toggle:checked ~ .mobile-nav {
  display: flex;
}

/* Media Query for Medium Screens */
@media (min-width: 650px)  and (max-width: 880px){

  /* Responsive Header */
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    /* margin-right: 20px; */
  }


  /* Responsive Hero Section 1 */
  .hero-img img{
    margin-top: 50px;
    width: 260px;
    height: 400px;
    text-align: center;
  }

  .hero-section-1 .main{
    height: 800px;
    width: 100%;
  }

  .hero-text p{
    width: 80%;
  }

  .hero-btn-1, .hero-btn-2{
    margin-top: 10px;
    width: 90%;
  }

  .hero-btn-2{
    margin-bottom: 50px;
  }

  /* Responsive Hero Section 2 */
  .hero-sec-2-img img{
    width: 300px;
    height: 400px;
  }
  .hero-section-2 .main{
    height: 750px;
  }
  
  /* About Section 1 */
  .about-img-1 img{
    width: 350px ;
  }


  .about-sec-4-main{
    height: 650px;
  }

  .about-sec-4-img img{
    width: 320px;
  }

  .contact-main{
    display: flex;
    flex-direction: column;
  }


  .links, .services, .contact , .follow{
    font-size: 13px;
}

.footer-1 a{
  font-size: 12px;
}

.footer-2 p{
  font-size: 16px;
}

.back-to-top{
  width: 30px;
  height: 5px;
}
}