*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

/* Header starts */
header{
    height: 70px;
    background-color: black;
    position: fixed;
    width: 100%;
}
header .main{
    /* max-width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-size: 35px;
    margin-left: 20px;
    color: white;
}

.nav-links{
    display: flex;
    margin-right: 90px;
    gap: 120px;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: #51d351;
}

/* Headers End */

/* Hero Section Starts */

.hero-section .main{
    height: 530px;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    background:linear-gradient( rgba(0, 0, 0, 0.4)), url(./Assets/background-img.jpg);
}

.hero-text{
    width: 50%;
    margin-top: 60px;
}

.hero-text h1{
    color: white;
    font-size: 50px;
}

.hero-text p{
    color: #878585;
    padding: 25px 0px;
    font-size: 17px;
    line-height: 25px;
}

.hero-img img{
    width: 380px;
    height: 500px;
    animation: bounceY 2s ease-in-out infinite;
}

@keyframes bounceY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px); 
  }
  100% {
    transform: translateY(0px); 
  }
}

.hero-btn-1, .hero-btn-2{
    width: 180px;
    height: 55px;
    padding: 15px;
    border-radius: 8px;
    font-size: 15px;
}

.hero-btn-1{
    border: 1px solid #51d351;
    background-color: transparent;
    color: #51d351;
}

.hero-btn-1:hover{
    background-color: #51d351;
    color: white;
}

.hero-btn-2{
    border: none;
    background-color: #51d351;
    color: white;
    margin-left: 5px;
}

.hero-btn-2:hover{
    box-shadow: #6fb26f  0px 3px 4px;
}


.hero-section-2 .main{
    height: 500px;
}