*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.homepage{
    background:linear-gradient( rgba(0, 0, 0, 0.4)), url(./Assets/background-img.jpg);
    height: 580px;
}

/* Header starts */
header{
    max-width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 35px;
    margin-left: 20px;
    color: white;
}

.nav-links{
    display: flex;
    margin-right: 90px;
    gap: 120px;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: #51d351;
}

/* Headers End */

/* Hero Section Starts */

.hero-section{
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
}

.hero-text{
    width: 50%;
    align-items: ;
}