*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fce4ec;
    margin-top: 50px;
}

.main-cont{
    background-color: #f8bbd0;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px 40px;
}

.Palette-1, .Palette-2, .Palette-3, .Palette-4, .Palette-5, .Palette-6, .Palette-7, .Palette-8{
    background-color: white;
    height: 450px ;
    width: 100px;
    display: inline-block;
     margin-right: 10px;
}