*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin-top: 40px;
    position: relative;
}

.product-detail{
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    position: absolute;
    left: 280px;
}

.product-img{
    width: 350px;
    height: 500px;
    background-color: #bc2121;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.apple-img img{
    width: 300px;
    height: 300px;
     filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7));
     position: absolute;
}

.icons{
    padding: 15px;
}

.fa-solid.fa-share-nodes{
    color: white;
    font-size: 23px;
    margin-left: 10px;
}

.fa-regular.fa-heart{
    color: white;
     font-size: 23px;
    margin-left: 250px;
}

.footer{
    background-color: white;
    width: 350px;
    height: 130px;
    position: absolute;
    top: 370px;
    bottom: 90px;
    /* margin-top: 61px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}