*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
    .main-cont {
        width: 95%;
        height: auto;
        margin-top: 20px;
    }

    .apple-img img {
        width: 180px;
        height: 180px;
    }

    .cards {
        padding: 10px 0;
    }

    .btn {
        width: 100%;
    }

    .apple-1{
        /* position: absolute;
        left: 30px;
        top: 15px; */
        /* width: 60px;
       height: 60px;
       background-color: #f4f4f4;
       border-radius: 10px;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 14px; */
    }

    .apple-2{
        /* position: absolute;
        left: 110px;
         top: 15px; */
        /* width: 60px;
        height: 60px;
        background-color: #f4f4f4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px; */
    }

    .apple-3{
        /* position: absolute;
        left: 190px;
         top: 15px; */
         /* width: 60px;
        height: 60px;
        background-color: #f4f4f4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px; */
    }

    .apple-4{
        /* position: absolute;
        left: 270px;
         top: 15px; */
         /* width: 60px;
        height: 60px;
        background-color: #f4f4f4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px; */
    }


    /* .footer{
        background-color: white;
        width: 360px;
        height: 130px;
        position: absolute;
        top: 370px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        padding-top: 30px;
    } */

    /* .footer {
        background-color: white;
        width: 100%;
        height: 90px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        padding: 20px 10px;
        margin-top: 66px;
    } */

    /* .footer {
    background-color: white;
    width: 100%;
    height: 90px;
    margin-top: 66px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px; 
} */

/* .footer-card {
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
} */

.footer {
    background-color: white;
    width: 100%;
    height: 90px;
    margin-top: 66px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 10px; 
}


.footer-card {
    width: 60px; 
    height: 60px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
}
}
