/* header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    background-color: #f8b864;
    height: 50px;
    width: 100vw;
}

.top-text{
    display: flex;
    gap: 20px;
    color: white;
}

.top-text p {
    text-align: center;
    margin: 0;
}

.top-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
} */

header{
    background-color: #f8b864;
    color: white;
}

.top-nav{
    color: var(--whiteColor);
    font-size: 14px;
    padding: 10px;
    align-items: center;
}

.top-nav-bg{
    background-color: var(--themeColor);
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav img{
    width: 220px;
    height: 60px;
}

nav ul li, button{
    margin-right: 10px;
    font-weight: 600;
}

nav .nav-link:hover{
    color: var(--themeColor);
    transition: all 0.5s ease;
}


/* ============= Navbar Start ============= */
@media (min-width: 992px){
      .nav-item.dropdown:hover .dropdown-menu {
        display: block; 
        margin-top: 0; 
      }

      .dropdown-menu{
        transition: all 0.3s ease; 
      }

      .dropdown-toggle::after {
        display: none;
      }
      
    }

@media (max-width: 992px){
  .dropdown-menu li .dropdown-divider{
    display: none;
  }

  .dropdown-menu li{
    padding-bottom: 5px;
  }

  nav .btn:focus{
    background-color: var(--themeHoverColor);
    color: var(--whiteColor);
  }

  .dropdown-menu {
    box-shadow: none;
  }

  .navbar-toggler{
    border: none;
  }
}

@media (max-width: 520px){
  .top-nav{
    flex-direction: column;
    gap: 12px;
  }

  nav img{
    width: 150px;
    height: 40px;
}
}

@media (max-width: 330px){
  .contact{
    flex-direction: column;
  }

  .top-nav{
    gap: 15px;
  }
}

/* ============= Navbar End ============= */

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 810px){
  .slider-btn{
    display: flex;
  }

  .btn-text{
    font-size: 10px !important;
  }

  .hero-head{
    font-size: 20px;
  }

  .hero-para{
    font-size: 12px;
  }
}

@media (max-width: 620px){
  .btn-text{
    font-size: 8px !important;
  }

  .hero-head{
    font-size: 17px;
  }

  .hero-para{
    font-size: 8px;
  }

  .carousel-item img{
    height: 400px;
  }
}