
@media (max-width: 1000px) {
    .menu-icon {
        display: block;
    }

    .menu-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background: white;
        position: absolute;
        top: 70px;
        left: 0;
        display: none;
        padding: 10px 20px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        z-index: 998;
    }

    #menu-toggle:checked ~ .menu-container {
        display: flex;
    }

    .nav-links,
    .btns {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        jus
        gap: 10px;
    }

    .navbar-items {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .logo {
        width: auto;
        margin-top: 10px;
    }
}